<!DOCTYPE html>
<html>
  <head>
    <title>LinksRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="p-6">
      <h1 class="text-4xl font-bold"><%= link_to "Link Pages", root_path %></h1>
      <nav class="">
        <% if current_user %>
          <%= link_to "My Account", users_path, class: "pr;-3 font-semibold text-teal-800" %>
          <%= link_to "Link Pages", link_pages_path, class: "font-semibold text-teal-800" %>
          <%# TODO: The logout link doesn't reload the page when remote: true is enabled %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, remote: true, class: "font-semibold text-teal-800" %>
        <% end %>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>
    <main class="p-8">
      <%= yield %>
    </main>
  </body>
</html>
